################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/SimpleCalculator/.vs
/projects/SimpleCalculator/obj/Release/net10.0
/projects/SimpleCalculator/obj/Debug/net10.0/SimpleCalculator.AssemblyInfo.cs
/projects/SimpleCalculator/obj/Debug/net10.0/SimpleCalculator.AssemblyInfoInputs.cache
/.vs
*.pdf
/docs
/projects/SimpleCalculator/obj/Debug/net10.0
